---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Web3 Audio Ecosystem on TON Blockchain",
    description:
      "Experience seamless music streaming powered by TON blockchain, ensuring transparent, secure transactions and true digital ownership.",
    icon: "mdi:lan",
  },
  {
    title: "Music Discovery Quests",
    description:
      "Embark on interactive quests to discover new artists and genres. Each journey not only enriches your musical palette but also rewards you for your adventurous spirit.",
    icon: "mdi:map-check-outline",
  },
  {
    title: "Collectible Artist Cards",
    description:
      "Collect and trade digital cards of your favorite artists. Each card is a unique piece of art, offering special content or perks.",
    icon: "mdi:cards",
  },
  {
    title: "Fan-Generated Playlists",
    description:
      "Create playlists that resonate with your taste and share them with the Tontune community. The most popular playlists earn recognition and rewards.",
    icon: "mdi:playlist-music",
  },
  {
    title: "Live Events Integration",
    description:
      "Dive into live music like never before. Attend virtual concerts, interact in real-time, and feel the pulse of live events, all within Tontune.",
    icon: "mdi:calendar-star",
  },
  {
    title: "Artist-Centric Platform",
    description:
      "A space where artists take the lead. Enjoy direct interaction with your favorite musicians and witness their creativity unleashed.",
    icon: "mdi:account-music",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    Explore Tontune's <span class="text-primary">Cutting-Edge</span> Features
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
